body {
    margin: unset;
    padding: unset;
}

.spinner {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 36px;
    height: 36px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.left {
    float: left;
    padding-top: 18px;
}

.right {
    float: right;
    padding-top: 18px;
}

#raw-references-form {

    textarea {
    
        height: 300px;
    }
}

.width {
    width: calc(100% - 40px);
    max-width: 1200px;
    margin: auto;
}

.both {
    height: calc(100% - 80px);
    position: absolute;
    width: 100%;
    
    .inner {
        height: 100%;
        .lhs::-webkit-scrollbar {
            display: none;
        }
        .lhs {
            overflow: scroll;
            scrollbar-width: none;
            height: 100%;
            float: left;
            margin-right: 10px;
            width: calc(50% - 10px);
        }
        .rhs {
            overflow-y: auto;
            scrollbar-width: none;
            height: 100%;
            float: left;
            margin-left: 10px;
            width: calc(50% - 10px);
            
        }
        .list {
            height: 100%;
        }

        .table-listing {
            overflow-y: auto;
            scrollbar-width: none;
            height: 100%;
            td, th {
                border-bottom: unset;
                padding: unset;
            }
            td {
                float: left;
                width: calc(50% - 10px);
            }
            tr td:first-child {
                margin-right: 10px;
            }
            tr td:nth-child(2) {
                margin-left: 10px;
            }
        }

    }
}




.main-card {
    text-align: left;
    border-bottom: 1px solid #e3e3e3;
    background: #fafaff;
    border-radius: 6px;
    padding: 3em 3em 1em;
    margin-bottom: 3rem;
    font-weight: 200;
    font-size: 120%;
    font-family: serif;
}

.main-card input {
    background: #ffffff;
}

.card {
    text-align: left;
    border-bottom: 1px solid #e3e3e3;
    background: #fafaff;
    font-family: serif;
    border-radius: 17px;
    padding: 20px 20px 20px;
    margin-bottom: 10px;
}

@keyframes fadeout {
    0%   {background-color: #f2f4ff}
    10%   {background-color: darken(#f2f4ff, 5%)}
    100% {background-color: #fafaff}
}
.selected-card {
    animation-name: fadeout;
    animation-duration: 1s;
}

.selected {

    background-color:  #f2f4ff;
}