body {
    margin: unset;
    padding: unset;
}

.left {
    float: left;
    padding-top: 18px;
}

.right {
    float: right;
    padding-top: 18px;
}

#raw-references-form {

    textarea {
    
        height: 300px;
    }
}

.width {
    width: calc(100% - 40px);
    max-width: 1200px;
    margin: auto;
}

.both {
    height: calc(100% - 80px);
    position: absolute;
    width: 100%;
    
    .inner {
        height: 100%;
        .lhs::-webkit-scrollbar {
            display: none;
        }
        .lhs {
            overflow: scroll;
            scrollbar-width: none;
            height: 100%;
            float: left;
            margin-right: 10px;
            width: calc(50% - 10px);
        }
        .rhs::-webkit-scrollbar {
            display: none;
        }
        .rhs {
            overflow: scroll;
            scrollbar-width: none;
            height: 100%;
            float: left;
            margin-left: 10px;
            width: calc(50% - 10px);
            
        }
        .list {
            height: 100%;
        }
    }
}

.selected {

    background-color: darkgray;
}