<%= case @current_page do %>
<% "references-page" -> %>
  <%= live_component References,
    state: assigns,
    id: "references" %>
<%= "correspondence-page" -> %>
  <%= live_component Correspondence,
    state: assigns,
    id: "correspondence" %>
<%= "search-details-page" -> %>
  <%= live_component SearchDetails,
    state: assigns,
    id: "search-details" %>
<% end %>
