<%= if @current_page == "1" do %>
  <section class="main-card width" style="margin-top: 20px;">
    <%= live_component AssistantWeb.RawReferences,
      state: assigns,
      id: "raw-references" %>
  </section>
<% else %>
  <%= live_component AssistantWeb.Evaluation,
    state: assigns,
    id: "evaluation" %>
<% end %>
