<%= if @current_page == "1" do %>
  <section class="phx-hero width selected" style="margin-top: 20px;">
    <%= live_component @socket,
      AssistantWeb.RawReferences,
      state: assigns,
      id: "raw-references" %>
  </section>
<% else %>
  <%= live_component @socket,
    AssistantWeb.Evaluation,
    id: "evaluation",
    state: assigns %>
<% end %>
