<%= if @current_page == "1" do %>
  <section class="phx-hero width" style="margin-top: 20px;">
    <%= live_component @socket,
      AssistantWeb.RawReferences,
      id: "raw-references" %>
  </section>
<% else %>
  <%= live_component @socket,
    AssistantWeb.Evaluation,
    id: "evaluation",
    list: @list,
    download_link_generated: @download_link_generated %>
<% end %>
