<%= if @current_page == "1" do %>
  <section class="phx-hero">
    <%= live_component @socket,
      AssistantWeb.RawReferences,
      id: "raw-references" %>
  </section>
<% else %>
  <%= live_component @socket,
    AssistantWeb.Evaluation,
    id: "evaluation",
    list: @list %>
<% end %>
