<%= f = form_for :raw_references, "#",
    id: "raw-references-form",
    phx_change: "change",
    phx_target: @myself
  %>

  <h1>Bibliographic references</h1>

  <p>One item per line</p>

  <%= textarea f, :raw_references %>
</form>

<button phx-click="eval" phx-value-target="anystyle" phx-target="<%= @myself %>">Evaluate with anystyle</button>
<button phx-click="eval" phx-value-target="grobid" phx-target="<%= @myself %>">Evaluate with grobid</button>
