<%= f = form_for :raw_references, "#",
    id: "raw-references-form",
    phx_submit: "save",
    phx_target: @myself
  %>

  <h1>Bibliographic references</h1>

  <p>One item per line</p>

  <%= textarea f, :raw_references %>

  <%= submit "Evaluate" %>
</form>
