<%= f = form_for :raw_references, "#",
    id: "raw-references-form",
    phx_change: "change",
    phx_target: @myself
  %>

  <h1><%= Translator.translate(:bibliographic_references, @state.lang) %></h1>

  <p><%= Translator.translate(:one_item_per_line, @state.lang) %></p>

  <%= textarea f, :raw_references %>
</form>

<button phx-click="eval" phx-value-target="anystyle" phx-target="<%= @myself %>">
  <%= Translator.translate(:evaluate_with_anystyle, @state.lang) %>
</button>
