<div class="both">
  <div class="inner width">
    <div class="lhs">
      <%= live_component ParserResultListComponent, state: @state %>
    </div>

    <div class="rhs">
      <%= live_component ZenonResultListComponent, state: @state %>
    </div>
  </div>
</div>
